.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductList {
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.Product {
  flex: 0.3 30%;
  margin: 0 10px;
}

.Product-image {
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;
}